@model Ilahiyyat.ViewModel.MessageModel
@{
    ViewBag.Title = "Messages";
    Layout = "~/Areas/Admin_Panel/Views/Shared/Layout.cshtml";
}

<div class="col-md-10">
    <div class="row">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Mesajlar</div>
            </div>
            <div class="panel-body">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Mesajı göndərənin adı</th>
                            <th>Mesajı göndərənin e-maili</th>
                            <th>Mesajı göndərənin nömrəsi</th>
                            <th>Mesajın məzmunu</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model._contact)
    {
                        <tr class="odd gradeA">
                            <td>@item.id</td>
                            <td>@item.user_adi</td>
                            <td>@item.user_email</td>
                            <td>@item.user_nomresi</td>
                            <td>@item.user_mesaji</td>
                            <td>
                                <a href="/Admin_Panel/Home/SendEmail" style="color:darkblue;text-decoration:none">Cavab göndər</a>
                            </td>
                            <td>@Html.ActionLink("Sil", "DeleteMessage", new { id = item.id })</td>
                        </tr>
}








                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

