@model Ilahiyyat.Models.Pillar

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_Panel/Views/Shared/Layout.cshtml";
}

<h2>Ətraflı</h2>

<div>
    <h4>Şərtlər</h4>
    <hr />
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.şərtlərin_adi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.şərtlərin_adi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.şərtlərin_şəkili)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.şərtlərin_şəkili)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.şərtlərin_məzmunu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.şərtlərin_məzmunu)
            </dd>

        </dl>
        </div>
    </div>
    <p>
        @Html.ActionLink("Düzəlt", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Əvvələ Qayıt", "Index")
    </p>
