@model IEnumerable<Ilahiyyat.Models.Pillar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin_Panel/Views/Shared/Layout.cshtml";
}

<h2>Şərtlər</h2>


<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Şərtin adı
                </th>
                <th>
                    Şərtin şəkili
                </th>
                <th>
                    Şərtin məzmunu
                </th>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.şərtlərin_adi)
                </td>
                <td>
                    <img src="@item.şərtlərin_şəkili" style="max-width:100%; max-height:200px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.şərtlərin_məzmunu)
                </td>
                <td>
                    @Html.ActionLink("Yenilə", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detallar", "Details", new { id = item.id }) |
                   
                </td>
            </tr>
        }
    </table>
    </div>
