@model IEnumerable<Ilahiyyat.Models.Sermon>
@{
    ViewBag.Title = "PartialSermon";
    Layout = "~/Areas/Admin_Panel/Views/Shared/Layout.cshtml";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Xütbənin adı
                </th>
                <th>
                    Xütbənin məzmunu
                </th>
                <th>
                    Xütbənin audiosu
                </th>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.xutbə_adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.xutbə_məzmunu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.xutbə_audio)
                </td>
                <td>
                    @Html.ActionLink("Yenilə", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detallar", "Details", new { id = item.id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>
</div>

