@model Ilahiyyat.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_Panel/Views/Shared/Layout.cshtml";
}

<h2>Ətraflı</h2>

<div>
    <h4>Xəbər</h4>
    <hr />
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.xəberin_adi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.xəberin_adi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.xəberin_məzmunu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.xəberin_məzmunu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.xəberin_əlavə_edilən_gün)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.xəberin_əlavə_edilən_gün)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.xəberin_baxiş_sayi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.xəberin_baxiş_sayi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.xəberin_şəkili)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.xəberin_şəkili)
            </dd>

        </dl>
       </div>
    </div>
    <p>
        @Html.ActionLink("Düzəlt", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Əvvələ Qayit", "Index")
    </p>
