@model Ilahiyyat.Models.Advertisement

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin_Panel/Views/Shared/Layout.cshtml";
}

<h2>Silmək</h2>

<h3>Silmək istədiyinizə əminsiniz?</h3>
<div>
    <h4>Elan</h4>
    <hr />
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.elanin_adi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_adi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_şəkili)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_şəkili)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_məzmunu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_məzmunu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_başlanqic_günü)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_başlanqic_günü)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_bitdiyi_gün)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_bitdiyi_gün)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_yeri)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_yeri)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_təşkilaçinin_adi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_təşkilaçinin_adi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_təşkilaçinin_nomrəsi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_təşkilaçinin_nomrəsi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.elanin_təşkilaçinin_email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.elanin_təşkilaçinin_email)
            </dd>

        </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Silmək" class="btn btn-default" /> |
                @Html.ActionLink("Əvvələ Qayıt", "Index")
            </div>
        }
    </div>
