@*@model Ilahiyyat.ViewModel.BlogModel*@
@model PagedList.IPagedList<Ilahiyyat.Models.News>
@using PagedList.Mvc; 

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="box1">
        <div class="overlay2">
            <img src="~/Assets/img/hdg-img.png" alt="">
            <p>XƏBƏRLƏR</p>
            <!-- <img src="~/Assets/img/mosque.png" alt=""> -->
        </div>
    </div>
    <section id="last_news">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-bottom: 30px;">
                    <div class="input-group form">
                        <input type="text" id="search" class="form-control" placeholder="Axtar...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btn">Axtar</button>
                        </span>
                    </div>
                </div>

                @foreach (var item in Model)
    {
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 40px;">
                <div class="single_news">
                    <div class="news_img"><img src="@item.xəberin_şəkili" alt=""></div>
                    <div class="news_date">
                        <i class="far fa-calendar-alt"></i>
                        <p>@item.xəberin_əlavə_edilən_gün.Value.Date.ToShortDateString()</p>
                        <i class="fas fa-eye"></i>
                        <p>@item.xəberin_baxiş_sayi dəfə</p>
                    </div>
                    <div class="news_text">
                        <h4><a href="#">@item.xəberin_adi</a></h4>
                        <p>@item.xəberin_məzmunu.Substring(0, 300)</p>
                        <div class="read_more"><a href="~/Home/Single_news/@item.id">Daha Ətraflı</a></div>
                    </div>

                </div>
            </div>
}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
                <div style="position:relative;left:50%;display:inline-block;padding:10px;">
                    @Html.PagedListPager(Model, page => Url.Action("Blog", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>

                 </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script>
    $(document).ready(function (e) {
        var x;
        $("#btn").click(function (e) {
            x = $("#search").val();
            console.log(x);
            $.ajax({
                type: "Get",
                data: {
                    search: x
                },
                url: "http://localhost:60851/Home/NewsSearch",
                contentType: "Html",
                success: function (response) {
                    $("body").html(response)
                }
            })
        })
    })
    </script>
   



