@*@model Ilahiyyat.ViewModel.SermonModel*@
@model PagedList.IPagedList<Ilahiyyat.Models.Sermon>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Sermons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="box1">
    <div class="overlay2">
        <img src="~/Assets/img/hdg-img.png" alt="">
        <p>XÜTBƏLƏR</p>
        <!-- <img src="~/Assets/img/mosque.png" alt=""> -->
    </div>
</div>
<section id="sermon">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-bottom: 30px;">
                <div class="input-group form">
                    <input type="text" id="search" class="form-control" placeholder="Axtar...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="btn">Axtar</button>
                    </span>
                </div>
            </div>
            @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="single_sermon">
                <h4>@item.xutbə_adi</h4>
                <p>@item.xutbə_məzmunu.Substring(0, 270) ...</p>
                <div class="sermon_audio">
                    <audio controls>
                        <source src="@item.xutbə_audio" type="audio/ogg">
                    </audio>
                </div>
                <div class="read_more"><a href="/Home/Single_sermon/@item.id">Daha Ətraflı</a></div>
            </div>
        </div>
}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
                <div style="position:relative;left:50%;display:inline-block;padding:10px;">
                    @Html.PagedListPager(Model, page => Url.Action("Sermons", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>

        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    $(document).ready(function (e) {
        var x;
        $("#btn").click(function (e) {
            x = $("#search").val();
            console.log(x);
            $.ajax({
                type: "Get",
                data: {
                    search: x
                },
                url: "http://localhost:60851/Home/SermonSearch",
                contentType: "Html",
                success: function (response) {
                    $("body").html(response)
                }
            })
        })
    })
</script>

